<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body large-modal-window">
            <img alt="MyWorkspace Reference Guide" src="~/Content/img/MyWorkspace_CheatSheet_5_20_16.png" /><hr />
            <img alt="Registration Reference Guide" src="~/Content/img/Reg Cheat Sheet_5_23_16.png" />
        </div>
    </div>
</div>
