@{
    ViewBag.Title = "SRA International, Inc. Legal Notices and Trademark Copyrights";
}
<div class="row-fluid">
    <div class="span12"><h3>SRA International, Inc. Legal Notices and Trademark Copyrights</h3></div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table align="center" border="0" cellpadding="5" cellspacing="0" width="100%" bgcolor="#FFFFFF">
		<tr>
			<td>
				<table align="left" border="0" cellpadding="5" cellspacing="0" width="100%" bgcolor="#FFFFFF">
					<tr>
						<td>
							<font face="Verdana, Arial, Helvetica, sans-serif" size="2"><strong>Copyright Notice</strong></font>
							<p>
                                  This entire Web Site is protected by copyright law and
                                  international copyright treaty. Except as otherwise provided, copying or
                                  reproduction of any material from this site to any other location
                                  for further reproduction or redistribution is expressly prohibited.
                                  Any reproduction or redistribution of the files not in accordance
                                  with the terms of the copyright is a violation of
                                  copyright law.
                            </p> 
							<p>
                                  P<sup>2</sup>RMIS, P<sup>2</sup>RMISnet and SRA are trademarks of SRA International, Inc.
                                  All other trademarks mentioned are trademarks or
                                  registered trademarks of their respective owners. 
							</p>
							<p>	  
                                  <font face="Verdana, Arial, Helvetica, sans-serif" size="2"><strong>Links To Third Party Sites</strong></font> 
							</p>
							<p>
                                  THE LINKED SITES ARE NOT UNDER THE CONTROL OF SRA International, Inc.
                                  AND SRA International, Inc. IS NOT RESPONSIBLE FOR THE CONTENTS OF ANY
                                  LINKED SITE OR ANY LINK CONTAINED IN A LINKED SITE, OR ANY
                                  CHANGES OR UPDATES TO SUCH SITES. SRA International, Inc. IS NOT
                                  RESPONSIBLE FOR WEBCASTING OR ANY OTHER FORM OF
                                  TRANSMISSION RECEIVED FROM ANY LINKED SITE. SRA International, Inc. IS
                                  PROVIDING THESE LINKS TO YOU ONLY AS A CONVENIENCE, AND
                                  THE INCLUSION OF ANY LINK DOES NOT IMPLY ENDORSEMENT BY
                                  SRA International, Inc. OF THE SITE. 
							</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
</table>

    </div>
</div>

