@{
    ViewBag.Title = "PrivacyPolicy";
    ViewBag.Hostname = Sra.P2rmis.Web.Common.Utility.GetHostURL();
}
<div class="row-fluid">
    <div class="span12"><h3>Privacy Policy</h3></div>
</div>
<div class="row-fluid">
    <table align="center" border="0" cellpadding="5" cellspacing="0" width="100%" bgcolor="FFFFFF">
		<tr>
			<td>
				<table align="left" border="0" cellpadding="5" cellspacing="0" width="100%" bgcolor="#FFFFFF">
					<tr>
						<td>
							<font face="Verdana, Arial, Helvetica, sans-serif" size="2"><strong>Your Privacy</strong></font>
							<p>
                                  We respect your right to privacy and we understand that visitors
                                  to our website  @ViewBag.Hostname need to be in control of their
                                  personal information. We also want to present information on
                                  @ViewBag.Hostname that is tailored to the needs of our visitors. For this
                                  reason, we may ask you to register or to provide personal
                                  information when you visit certain areas of our site. We will
                                  use this information to ensure the content and services that we provide are tailored to your current and
                                  future needs. If you provide SRA International, Inc. with your mailing address or
                                  telephone number, SRA International, Inc. may use this information to alert you to product upgrades, 
                                  updated information, and new services. If you provide your
                                  e-mail address, SRA International, Inc. may contact you via e-mail as well. If
                                  you do not want SRA International, Inc. to contact you, you may opt out when you provide
                                  personal information or contact SRA International, Inc. directly. 
							</p>
							<p>	  
                                  <font face="Verdana, Arial, Helvetica, sans-serif" size="2"><strong>Use of Information</strong></font> 
							
							<p>
                                  Any information you provide to SRA International, Inc. over this website is
                                  maintained and accessible only by SRA International, Inc.. SRA International, Inc.
                                  will not disclose any information about any individual user to
                                  outside entities except to comply with applicable law or valid legal process.  
							</p>
							<p>	  
                                  <font face="Verdana, Arial, Helvetica, sans-serif" size="2"><strong>Sharing of Information</strong></font> 
							
							<p>
								  The individually identifiable information that you provide will be
                                  used extensively within the P<sup>2</sup>RMIS website to provide a
                                  personalized experience for you. SRA International, Inc.'s use of the
                                  information submitted by you may be altered to better suit
                                  visitors.
                            </p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
</table>
</div>