.rwzBreadCrumb {
    width: 100%;
    display: table;
    table-layout: fixed;
    font-size: 13px;
    font: 14px/1.4 Helvetica,Arial,sans-serif;
    margin: 0px;
    padding: 0px;
}

.rwzLI {
    border-color: #c9c9c9;
    display: table-cell;
    border-width: 1px 0px;
    border-style: solid;
    padding: 0px;
}

.rwzBreadCrumb .rwzSelected .rwzLabel {
    background-image: url("img/rwzTabSelect.png");
}

.rwzBreadCrumb .rwzLabel {
    background: transparent url("img/rwzTab.png") repeat-x scroll 0px 50%;
}

.rwzLabel {
    display: block;
    padding: 0px 1.25em;
    outline: 0px none;
    text-decoration: none;
    position: relative;
    padding: 0px 1.53846em;
    width: 105px;
}

.rwzText {
    display: inline-block;
    line-height: 2.16667em !important;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font: 14px/1.4 Helvetica,Arial,sans-serif;
    white-space: nowrap;
    width: 90px;
}

.rwzBreadCrumb .rwzCallout {
    background: transparent url("img/rwzCallout.png") no-repeat scroll 100% 50%;
}

.rwzBreadCrumb .rwzSelected .rwzCallout {
    background-image: url("img/rwzCalloutSelect.png");
}

.rwzCallout {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: -0.83333em;
    width: 1em;
    z-index: 2;
}

.rwzBreadCrumb .rwzSelected .rwzCallout::before {
    width: 1.23077em;
    height: 2.38462em;
    top: -2px;
    right: -0.41667em;
    background-image: url("img/rwzShadowSelect.png");
}

.rwzBreadCrumb .rwzCallout::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    right: -3px;
    background: transparent url("img/rwzShadow.png") no-repeat scroll 100% 50%;
}

.rwzFirst {
    border-radius: 0.30769em 0px 0px 0.30769em;
    border-width: 1px 0px 1px 1px;
}

.rwzLast .rwzLabel {
    border-radius: 3px;
    border-right: 1px solid lightgrey;
}

.rwzProgressBar {
    background-image: linear-gradient(#E6E6E6, #FEFEFE);
    border-radius: 0.25em;
    border-color: #c9c9c9;
    background-color: #fefefe;
    margin-bottom: 15px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    width: 90%;
    text-align: center;
    margin-left: 40px;
}

.rwzProgress {
    background-image: linear-gradient(#8CD1DD, #31ADC2);
    border-radius: 0.16667em 0px 0px 0.16667em;
    background-color: #31adc2;
    display: block;
    height: 13px;
    text-indent: -9999px;
}

a {
    color: #0487c4;
}

#button-group {
    text-align: center;
    width: 90%;
}
