@using Microsoft.Ajax.Utilities
@using Sra.P2rmis.Web.Common
@using Sra.P2rmis.Web.UI;
@using Newtonsoft.Json;

@section HeaderExtension
{
    @Html.Partial("_KendoHeader2016")
}

<!-- Header -->
<div class="main-header">
    <span class="main-header_back-button">
        <a id="backArrow" class="main-header_back-button_link">
            <img src="~/Content/img/backarrow_20px_enabled.png" align="middle" border="0"
                 alt="Go Back to Previous Page" title="Back" class="main-header_img" />
        </a>
    </span>
    <span class="main-header_title">Cycle Setup</span>
</div>

<!-- Main Body -->
<!-- Select Filters -->
<section style="display: flex">
    <div class="p2FilterContainer_partial">
        <h6 class="p2FilterContainer_title">Select Filters</h6>
        <div class="p2FilterContainer_p2FilterActiveCheckbox">
            <label class="p2FilterContainer_label" style="font-size: 12px;">All fields required.</label>
            <input id="activeCheckbox" class="ss-filterBox_activeText__checkbox" type="checkbox" checked />
            <label class="p2FilterContainer_label" for="activeCheckbox">Active Programs Only</label>
        </div>
        <div class="p2FilterContainer_contents" style="padding-top: 0px; width: 95%;">
            <div class="p2FilterContainer_selects">
                <label for="app-management-client" class="sr-only">Select a Client</label>
                <select class="p2FilterContainer_selects_select" id="ss-cycle-client"><option selected>Select Client</option></select>
                <label for="app-management-fy" class="sr-only">Select a Fiscal Year</label>
                <select class="p2FilterContainer_selects_select" id="ss-cycle-fy" disabled><option selected>Select FY</option></select>
                <label for="app-management-program" class="sr-only">Select a Program</label>
                <select class="p2FilterContainer_selects_select" id="ss-cycle-program" disabled><option selected>Select Program</option></select>
                <label for="app-management-button" class="sr-only">Client</label>
                <button class="buttonPrimary" id="ss-cycle-button" style="float: right;">Find</button>
            </div>
        </div>
    </div>
    <div class="ss-appliedBox" style="margin: 0px 0px 0px 15px;">
        <div class="ss-appliedBox_title"><strong>Applied Filters</strong></div>
        <table class="ss-appliedBox_table">
            <tr>
                <td class="ss-appliedBox_table_client">Client:<span id="selectedClient" class="ss-appliedBox_table_client_result"></span></td>
                <td class="ss-appliedBox_table_program">Program:<span id="selectedProgram" class="ss-appliedBox_table_program_result"></span></td>
                <td class="ss-appliedBox_table_active">Active:<span id="selectedActive" class="ss-appliedBox_table_active_result"></span></td>
            </tr>
        </table>
    </div>
</section>
<p class='afterComment' style="float: left; margin-top: 10px;">Please select a client, fiscal year and program.</p>
<p class="add-cycle hidden" style="margin-top: 10px;">No cycles were found. Click <a href="#" class="ss-gridHeader_addAwardButton"><i>Add Award</i></a> to add a cycle.</p>

<!-- Grid Header -->
<section id="mainContentArea" class="p2GridHeader hidden" style="width: 900px;">
    <h4 class="p2GridHeader_title" style="float: left;">
        Cycles
        <span class="result-header"></span>
        <span id="totalCount" class="result-header-count" style="font-size: 12px;">(<span></span> records)</span>
        <a href="#" class="ss-gridHeader_addProgramButton" id="add-cycle" style="font-weight: normal;"><em>(add cycle)</em></a>
        <h6 class="ss-gridHeader_exportButton" id="btnExport"><a href="#" class="ss-gridHeader_exportButton__link"><img src="/Content/img/icon_export_excel_labeled.png" /></a></h6>
    </h4>

    <!-- Grid -->
    <div id="grid" class="p2Grid" style="width: 900px; float: left;"></div>
</section>
<input type="hidden" id="clientSession" value="" />
<script src="~/Scripts/Custom/Setup/cycleSetup.js"></script>