@using Sra.P2rmis.Web.Common
@using Newtonsoft.Json
@{
    ViewBag.Title = "Vimeo Page";
}
@section HeaderExtension
{
    @Html.Partial("_KendoHeader2016")
}
<link href="/Scripts/jquery-custom-modal/css/jquery-custom-modal.css" rel="stylesheet" type="text/css">

<!-- Header -->
<div class="main-header">
    <span class="main-header_back-button">
        <a id="backArrow" class="main-header_back-button_link">
            <img src="~/Content/img/backarrow_20px_enabled.png" align="middle" border="0"
                 alt="Go Back to Previous Page" title="Back" class="main-header_img" />
        </a>
    </span>
    <span class="main-header_title">View Video</span><a href="/Setup/DocumentManagement" id="#backtoStaff"> (Back to Document Management)</a>
</div>
<!-- Main Content -->
<div id="mainContent" class="ss-vimeo">
    <div>
        <div class="ss-vimeo_heading"></div>
        <div id="enterVideo"></div>
        <div class="ss-vimeo_description"></div>
    </div>
</div>

<script type="text/javascript">
    var newVideoPath = sessionStorage.getItem('videoLink');
    var newHeading = sessionStorage.getItem('newHeading');
    var descriptionText = sessionStorage.getItem('newDescription');
    $('#enterVideo').empty();
    $('#enterVideo').append('<div>' + newVideoPath + '</div>');
    $('.heading').text(newHeading);
    $('.description').text(descriptionText);
</script>






