<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup></configSections>
  <connectionStrings>
      <!--<add name="P2RMISNETEntities"
         connectionString="metadata=res://*/P2RMISModel.csdl|res://*/P2RMISModel.ssdl|res://*/P2RMISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rds-usgw1-1ab-d-w-p2rmisdb01.cod2vnvjj4uy.us-gov-west-1.rds.amazonaws.com, 1433;initial catalog=p2rmisdb-dev;User ID=p2rmis-web;Password=WN0ystN1vLCjSAINjp9l;multipleactiveresultsets=True;Persist Security Info=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
        />
     <add name="ErrorLogging"
         connectionString="Data Source=rds-usgw1-1ab-d-w-p2rmisdb01.cod2vnvjj4uy.us-gov-west-1.rds.amazonaws.com, 1433;Initial Catalog=p2rmisdb-dev;User ID=p2rmis-web;Password=WN0ystN1vLCjSAINjp9l;"
         providerName="System.Data.SqlClient"
        />-->
    <add name="P2RMISNETEntities" connectionString="metadata=res://*/P2RMISModel.csdl|res://*/P2RMISModel.ssdl|res://*/P2RMISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=P2RMISDB;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ErrorLogging" connectionString="Data source=(LocalDb)\MSSQLLocalDB;Initial Catalog=P2RMISDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="system-email-address" value="Daniel_Coffey@sra.com" />
    <add key="system-reply-to-email-address" value="Daniel_Coffey@sra.com" />
    <add key="helpdesk-email-address" value="Help@p2rmis.com" />
    <add key="helpdesk-phone-number" value="1-866-330-9752" />
    <add key="helpdesk-hours" value="M - F, 8 am - 5 pm ET" />
    <add key="helpdesk-hours-standard" value="M - F, 8:00 am - 5:00 pm ET" />
    <!-- 
         If included overrides any email recipient.  As an example if a user is created and
         the "recipient-override" defined the new user emails are not sent to the new user 
         but the "recipient-override" instead.
     -->
    <add key="recipient-override" value="Daniel_Coffey@sra.com" />
    <add key="url-host" value="localhost" />
    <add key="url-scheme" value="http://" />
    <add key="url-Port" value="2457" />
    <add key="app-path" />
    <add key="LockSystem" value="False" />
    <add key="NoFailedAttempts" value="5" />
    <add key="NoHoursLocked" value="4" />
    <add key="PasswordExpire" value="False" />
    <add key="PasswordPolicyReleaseDate" value="06/23/2020" />
    <add key="InitialPasswordExpirationDate" value="07/08/2020" />
    <add key="NoDaysBeforeExpire" value="90" />
    <add key="NoDaysBeforeNotice" value="75" />
    <add key="NoDaysBeforeResetExpire" value="10" />
    <add key="url-reportServer" value="http://localhost/ReportServer_SQLEXPRESS" />
    <add key="url-reportPath" value="/LOCAL/" />
    <add key="MyReportViewerUser" value="vagrant" />
    <add key="MyReportViewerPassword" value="vagrant" />
    <add key="MyReportViewerDomain" value="localhost" />

    <add key="ReportStorageRoot" value="C:\temp\" />
    <!--
        Specifies the length of time (hours, minutes & seconds) 
        an entry remains in the cache.  Value of Hours = 0
        Minutes = 0 & Seconds = 0 indicates the default time (2 hours)
        should be used.
    -->
    <add key="CacheHours" value="0" />
    <add key="CacheMinutes" value="0" />
    <add key="CacheSeconds" value="0" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <!--
      Specifies the root and path to the application files for the display of a Summary Statement's application files
    -->
    <add key="appFileRoot" value="C:\" />
    <add key="appFilePath" value="DevWebProjects\P2RMISnet" />
    <!--
      Format specified (leading 0's) to make all version numbers equal length.  [This is a required configuration value.]
    -->
    <add key="user-resume-version-format-Specification" value="{0:000}" />
    <!--
      Maximum size (in MB) of a user's resume file  [This is a required configuration value.]
    -->
    <add key="user-resume-maximum-length" value="2" />
    <!--
      The following configuration values are for parameter generation: password length, number of non alphanumeric characters respectively
    -->
	  <add key="password-min-length" value="12" />
	  <add key="password-min-length-text" value="twelve" />
	  <add key="password-max-length" value="64" />
	  <add key="password-max-length-text" value="sixty-four" />
    <add key="password-non-alpha-numeric" value="3" />
	<!--
      Specifies the maximum number of repeating consecutive characters in a password
    -->
	<add key="password-repeating-characters" value="4" />
	<add key="password-non-alpha-numeric" value="3" />
	<!--
      Specifies the number of previous passwords to validate against
    -->
	<add key="password-previous" value="24" />
    <!--
      Specifies the maximum number of characters for summary statement in-line comments
    -->
    <add key="CommentInlineMaximum" value="250" />
    <!--
      Specifies the maximum number of characters for summary statement general comments
    -->
    <add key="CommentGeneralMaximum" value="1200" />
    <!--
      Specifies the website to download the W9 form from
    -->
    <add key="W9FormDownload" value="http://www.irs.gov/pub/irs-pdf/fw9.pdf" />
    <!--
      Specifies the website to download the W8 form from
    -->
    <add key="W8FormDownload" value="https://www.irs.gov/uac/About-Form-W8" />
    <!--
      Specifies the phone number to fax the completed W9 to
    -->
    <add key="W9FormFax" value="1-240-219-5885" />
    <!--
      Specifies the text used to replace personal information on blinded mechanism
    -->
    <add key="Blinded" value="Blinded" />
    <!--
      The following entries specify the managing company's name, address, phone number and fax number
    -->
    <add key="CompanyName" value="SRA International, Inc., a CSRA Company" />
    <add key="CompanyDivision" value="Health and Civil Services" />
    <add key="CompanyAddress1" value="110 Thomas Johnson Drive" />
    <add key="CompanyAddress2" value="Suite200" />
    <add key="CompanyCity" value="Frederick, MD 21702" />
    <add key="CompanyPhone" value="1-866-330-9752" />
    <add key="CompanyFax" value="301-360-2161" />
    <!--
        Specifies the number of fiscal year reviewer assignments & potential assignments are displayed
        for the PanelAssignmentModel
    -->
    <add key="PanelManagementAssignmentRetrievalLimit" value="30" />
    <add key="PanelManagementPotentialAssignmentRetrievalLimit" value="1" />
    <add key="PanelManagementReviewerSearchLimit" value="100" />
    <add key="PanelManagementStaffSearchLimit" value="100" />
    <!--
        Url for authentication with the P2RMIS Version 1 server.
    -->
    <add key="LegacyAuthenticationServer" value="https://p2rmis.com/com/constellagroup/ws/p2rmis/WSUserAuth.cfc?method=checkUser&amp;personId={0}&amp;pass={1}" />
    <!--
        MyWorkspace Scorable Application Polling Interval in milliseconds.
    -->
    <add key="MyWorkspaceScorableApplicationPollingInterval" value="5000" />
    <!--
        MyWorkspace Scorable Application Cache duration in seconds.
    -->
    <add key="MyWorkspaceScorableApplicationCacheDuration" value="5" />
    <!--
        Management Application Scoring Polling Interval.
    -->
    <add key="ManageApplicationScoringPollingInterval" value="90000" />
    <!--
        URL for the P2RMIS Version 1 server.
    -->
    <add key="url-P2RMISv1Server" value="https://p2rmis.com/" />
    <!--
      Specifies the +/- range for the program setup physical year drop down
    -->
    <add key="SetupPhysicalYearRange" value="3" />
    <!--
      Specifies string appended to ClientAwardTypes names & abbreviations when cloning for PreAwards
    -->
    <add key="PreAwardMarker" value="-PRE" />
    <!-- 
      Specifies document direcotry path 
    -->
    <add key="DocumentDirectoryPath" value="C:\tmp\docs" />
    <!--
      Settings for Jira
    -->
    <add key="JiraUserName" value="p2rmis-jira-user@prsmhosting.com" />
    <add key="JiraPassword" value="hYbBlMnJC2YTRclAxJTQE28A" />
    <add key="JiraUrl" value="https://prsm-p2rmis.atlassian.net/rest/api/2/issue/" />
    <add key="JiraMetadataUrl" value="https://prsm-p2rmis.atlassian.net/rest/api/2/issue/createmeta?projectKeys=PRMIS&amp;issuetypeNames=Task&amp;expand=projects.issuetypes.fields" />
    <add key="JiraPort" value="443" />
    <add key="JiraDefaultAssignee" value="dmarinaro" />
    <add key="JiraProjectId" value="10103" />
    <!--
      Settings for EGS Webservice Hook
      -->
    <add key="EgsStorageRoot" value="C:\temp" />
    <add key="EgsDataTransferUri" value="https://egsua.cdmrp.army.mil/EGS/ws/egsWebservice.do?operation=getProposalInfo&amp;program={0}&amp;proposalYear={1}&amp;awardType={2}&amp;receiptCycle={3}" />
    <add key="EgsDataTransferKey" value="V0VCSEVBRFM6MyZPSXJ2WFFibjdpaSNU" />
    <add key="BasicAuthenticationUserName" value="p2rmis" />
    <add key="BasicAuthenticationPassword" value="p2rmis123@" />
    <add key="AdoptPredefinedSecurityProtocol" value="true" />
    <add key="OutgoingProxy" value="" />
	<!--
      App context overrides
    -->
    <add key="AppContext.SetSwitch:Switch.System.Net.DontEnableSystemDefaultTlsVersions" value="false" />
    <!--
     Settings for AWS
    -->
    <add key="S3BucketName" value="p2rmis-dev-data" />
    <add key="S3AppFolderName" value="app_files/dev" />
    <add key="S3ContractFolderName" value="contract_files/dev" />
  <!-- Elmah settings -->
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="true" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="Webmaster" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    
   <!-- Time out after x minutes of inactivity. This should match the server session timeout -->
  <add key="AutoLogoutAfter" value="120" />
  <add key="NavMenuItemsMaxDisplay" value="10" />
  
  <!-- Security policy settings -->
  <add key="MaxMaskBits" value="32" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <identity impersonate="true" />
    <sessionState timeout="240" />
    <httpRuntime maxRequestLength="30720" executionTimeout="120" />
    <customErrors mode="Off" defaultRedirect="~/ErrorPage/Error" />
    <trace enabled="true" requestLimit="10000" mostRecent="true" localOnly="false" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="120" />
    </authentication>
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="CustomMembershipProvider" connectionStringName="P2RMISNETEntities" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).+$" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="P2RMISNETEntities" applicationName="/" />
      </providers>
    </profile>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
    <siteMap defaultProvider="MvcSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="MvcSiteMapProvider" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Mvc.Sitemap" securityTrimmingEnabled="true" cacheDuration="5" enableLocalization="true" scanAssembliesForSiteMapNodes="true" includeAssembliesForScan="" excludeAssembliesForScan="" attributesToIgnore="" nodeKeyGenerator="MvcSiteMapProvider.DefaultNodeKeyGenerator, MvcSiteMapProvider" controllerTypeResolver="MvcSiteMapProvider.DefaultControllerTypeResolver, MvcSiteMapProvider" actionMethodParameterResolver="MvcSiteMapProvider.DefaultActionMethodParameterResolver, MvcSiteMapProvider" aclModule="MvcSiteMapProvider.DefaultAclModule, MvcSiteMapProvider" siteMapNodeUrlResolver="MvcSiteMapProvider.DefaultSiteMapNodeUrlResolver, MvcSiteMapProvider" siteMapNodeVisibilityProvider="MvcSiteMapProvider.FilteredSiteMapNodeVisibilityProvider, MvcSiteMapProvider" siteMapProviderEventHandler="MvcSiteMapProvider.DefaultSiteMapProviderEventHandler, MvcSiteMapProvider" />
      </providers>
    </siteMap>
    
    <httpHandlers>
      <add verb="*" path="Telerik.Web.UI.DialogHandler.axd" type="Telerik.Web.UI.DialogHandler" validate="false" />
      <add verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" validate="false" />
      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules></system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".properties" mimeType="application/octet-stream" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      
      
      
    <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" /><add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" /><add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" /></modules>
    <handlers>
      <add name="Telerik_Web_UI_DialogHandler_axd" preCondition="integratedMode" verb="*" path="Telerik.Web.UI.DialogHandler.axd" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" preCondition="integratedMode" verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" preCondition="integratedMode" verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
  <validation validateIntegratedModeConfiguration="false" />
   <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Core" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.2.615.40" newVersion="2020.2.615.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Flow" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.2.615.40" newVersion="2020.2.615.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.2.615.40" newVersion="2020.2.615.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.2.615.40" newVersion="2020.2.615.40" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
  </runtime>
  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="127.0.0.1" port="25" />
      </smtp>-->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\Temp\mail\"/>
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <!--<location path="EmailTemplate">
    <system.web>
      <authorization>
        <allow roles="SRA Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <security allowRemoteAccess="1" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ErrorLogging" />
    <errorMail from="system@p2rmis.com" to="lemar.creel@gdit.com" />
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
      </test>
    </errorFilter>
  </elmah>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
