<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--<appSettings>
    <add key="appName" value="WPF Demo-Release" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="url" value="http://contoso.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="email" value="release@contoso.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>-->

  <connectionStrings>
    <add name="P2RMISNETEntities" 
         connectionString="metadata=res://*/P2RMISModel.csdl|res://*/P2RMISModel.ssdl|res://*/P2RMISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FN3-06851\SQLSERVEREXPRESS;initial catalog=IESNET;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ErrorLogging" 
         connectionString="Data Source=FN3-06851\SQLEXPRESS;Initial Catalog=P2RMISNET;Integrated Security=True" 
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>

  </connectionStrings>
  <appSettings>
    <add key="system-email-address" value="p2rmisadmin@srahosting.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="system-reply-to-email-address" value="Craig_Henson@sra.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="recipient-override" value="Craig_Henson@sra.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="url-host" value="localhost" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="url-scheme" value="http://" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="url-Port" value="2457" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="app-path" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>