<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--<appSettings>
    <add key="appName" value="WPF Demo-Release" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="url" value="http://contoso.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="email" value="release@contoso.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>-->

  <connectionStrings>
    <add name="P2RMISNETEntities"
         connectionString="metadata=res://*/P2RMISModel.csdl|res://*/P2RMISModel.ssdl|res://*/P2RMISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rds-usgw1-1ab-d-w-p2rmisdb01.cod2vnvjj4uy.us-gov-west-1.rds.amazonaws.com, 1433;initial catalog=p2rmisdb-ua;User ID=p2rmis-web;Password=WN0ystN1vLCjSAINjp9l;multipleactiveresultsets=True;Persist Security Info=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ErrorLogging"
         connectionString="Data Source=rds-usgw1-1ab-d-w-p2rmisdb01.cod2vnvjj4uy.us-gov-west-1.rds.amazonaws.com, 1433;Initial Catalog=p2rmisdb-ua;User ID=p2rmis-web;Password=WN0ystN1vLCjSAINjp9l;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="system-email-address" value="help@p2rmis.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="system-reply-to-email-address" value="help@p2rmis.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="recipient-override" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="url-host" value="uap2rmisws01.prsmhosting.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="url-scheme" value="https://" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="url-Port" value="443" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="app-path" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="url-reportServer" value="https://dvp2rmisdb01.prsmhosting.com/ReportServer" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="url-reportPath" value="/UA/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MyReportViewerUser" value="prsmreports"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MyReportViewerPassword" value='f5o5B?H&quot;jpCWqT' xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MyReportViewerDomain" value="PRSMHOSTING" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReportStorageRoot" value="D:\webprojects\ua\temp\" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--
      Specifies the root and path to the application files for the display of a Summary Statement's application files
    -->
    <add key="appFileRoot" value="D:\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="appFilePath" value="webprojects\ua" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--
      Specifies the P2RMIS One server for legacy authentication
    -->
    <add key="LegacyAuthenticationServer" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key ="url-P2RMISv1Server" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--
        Spell check settings dictionary path for Telerik Editor
    -->
    <add key ="SpellCheckSettingsDictionaryPath" value="D:\webprojects\ua\temp\RadSpell" />

    <add key="EgsStorageRoot" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- 
      Specifies document direcotry path 
    -->
    <add key="DocumentDirectoryPath" value="D:\webprojects\ua\temp\docs" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--
      Adopts pre-defined security protocol
    -->
    <add key="AdoptPredefinedSecurityProtocol" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--
      Proxy for outgoing traffice
    -->
    <add key="OutgoingProxy" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--
     Settings for AWS
    -->
    <add key="S3BucketName" value="p2rmis-dev-data" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="S3AppFolderName" value="app_files/ua" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="S3ContractFolderName" value="contract_files/ua" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <trace xdt:Transform="Remove"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage/Error" xdt:Transform="Replace" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.prsmhosting.com" port="25" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="HTTPS Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <elmah>
    <errorMail from="review-ua@p2rmis.com" to="lemar.creel@gdit.com,craig.henson@gdit.com,Archna.Gupta@gdit.com,margarita.revzin@gdit.com" xdt:Transform="Replace" />
  </elmah>
</configuration>