<div id="confirmationOfSuccessModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modalSmall">
            <div class="modal-body">
                Congratulations! You have successfully submitted your Critique.
            </div>
        </div>
    </div>
</div>

