<!-- Stylesheet for the custom Modal -->
<link href="/Scripts/jquery-custom-modal/css/jquery-custom-modal.css" rel="stylesheet" type="text/css">

<div id="incompleteOverallWarningModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modalSmall">
            <div class="modal-body">
                An Overall Evaluation is Required. Please enter an Overall Evaluation.
            </div>
        </div>
    </div>
</div>


