<div>
    Please select CONFIRM to submit your scores or CANCEL to edit your scores.
</div>
<div style="padding:20px 0">
    <b>Overall Score: <span id="modalOverallScore"></span></b>
</div>
<div id="modalScriterionScoreSection"></div>
<div id="modalCriterionScoreTemplate" class="hide">
    <span class="modal-critique-score"></span>
    <span class="modal-element-name"></span>
</div>

