<style>
    p {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" style="padding:30px 30px 0px 30px">
            <div class="container-fluid">
                <div class="row-fluid">
                    <p>You have changed the status from Potential to Assign. Once you set a user to “Assigned” you will not be able to change their Participant Type and Participant Role, and an invitation email will be sent with credentials to enable registration.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="margin:0px"><button type="button" class="btn btn-primary" style="font-size:12px" id="closeDialogBtn">Close</button></div>
</div>

