<style>
    p {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" style="padding:30px">
            <div class="container-fluid">

                <div class="row-fluid">
                    <p>You are removing a potential reviewer from the panel.  Please select OK to remove the potential reviewer, or CANCEL to retain the potential reviewer and return to the list.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>
