@using Sra.P2rmis.CrossCuttingServices

<style>
    p {
        text-align:center;
        margin:0px;
        padding:0px
    }

</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" style="padding:30px 30px 0px 30px">
            <div class="container-fluid">
                <div class="row-fluid">
                    <p>No records were found matching your criteria. Please modify your search.</p><br /><p> If you need to add a prospective reviewer, please contact the helpdesk at @ViewHelpers.HelpDeskPhoneNumber.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>
