<style>
    p {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" style="padding:30px">
            <div class="container-fluid">

                <div class="row-fluid">
                    <p>You must enter at least 3 characters to search on any of the following fields: Organization, Panel, CV or Expertise.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>