<div class="modal-dialog">
    <div class="modal-content download-warning">
        <p>
            The data you are attempting to access may contain confidential, proprietary or sensitive information. By accessing the data, you certify that:
        </p>
        <ul>
            <li>You are accessing and using it for the limited purpose authorized by GDIT.</li>
            <li>You accept responsibility for maintaining the confidentiality of the accessed data. The data should not be stored temporarily or permanently on a device that is accessible to unauthorized people.</li>
            <li>You will delete the data from the device where saved, when it is no longer needed.</li>
        </ul>
    </div>
</div>
