<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <img alt="Quick Reference Guide" src="~/Content/img/prs_cheat_sheet.png" />
        </div>
    </div>
</div>