@{
    ViewBag.PageTitle = "Security Policy Management";
    @Html.Partial("_KendoHeader2020");
}

    <div class="main-header">
        <span class="main-header_back-button">
            <a id="backArrow" class="main-header_back-button_link">
                <img src="~/Content/img/backarrow_20px_enabled.png" align="middle" border="0"
                     alt="Go Back to Previous Page" title="Back" class="main-header_img" />
            </a>
        </span>
        <span class="main-header_title">Security Policy Management</span>
        <div id="successMessage"></div>
        <div id="securityPolicyWarningAlert" class="errorMessage"></div>        
    </div>
