@model Sra.P2rmis.Web.UI.Models.LibraryViewModel

<p class="formTitle">Library</p>

<style>
    .ellipsisCell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

@if (string.IsNullOrEmpty(Model.AccessRestrictedMessage) && !string.IsNullOrEmpty(Model.IncompleteRegistrationMessage))
{
    <div class="alert-message" role="alert" aria-atomic="true">
        @Model.IncompleteRegistrationMessage
    </div>
}
<div class="row-fluid">
    @if (Model.ProgramYears.Count > 0)
    {
        @Html.Partial("_ProgramList")
    }
    @if (!string.IsNullOrEmpty(Model.AccessRestrictedMessage))
    {
        <div class="align-center" style="padding:150px;padding-left:350px; line-height:30px;font-size:18px; width:500px; text-wrap: normal;" role="alert" aria-atomic="true">
            @Model.AccessRestrictedMessage
        </div>
    }
    else
    {
        @Html.Partial("_TrainingDocumentGrid")
    }        
</div>